.pop-up__form-input {
  padding: 0;
  width: 100%;
  min-height: 27px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0, .2);
  color: #000;
}

.pop-up__form-input:focus {
  outline: 1px solid rgb(0, 0, 0, .15);
}


