.photos__heart-btn {
  width: 22px;
  min-height: 19px;
  padding: 0;
  background: url(../../../images/icons/heart-icon.svg) no-repeat center / cover;
  border: none;
}

.photos__heart-btn:hover {
  opacity: .5;
}
